<div class="section-hero">
    <div class="content-wrapper">
        <h2 class="title">Choose Our Top <br> Picks Furniture</h2>
        <p class="descriptions">We stands for beauty & style in your house. We have an <br>
            impressive selection of Furniture that you'll love
        </p>
        <a class="btn-primary" [routerLink]="['products']">Shop now</a>
        <div class="box-total">
            <div class="total-item">
                <span>1534</span>
                <p>Total Products</p>
            </div>
            <div class="total-item">
                <span>12750+</span>
                <p>Happy Customers</p>
            </div>
        </div>
    </div>
    <div class="image-wrapper">
        <img src="assets/home.png" alt="">
        <div class="box-add">
            <h4 class="title">Chair-124</h4>
            <div class="add">
                <p>Add to chart</p>
                <img src="assets/arrow.svg" alt="" />
            </div>
        </div>
    </div>
</div>