.cart-container {
    padding: 80px 100px;
    .heading {
        text-align: center;
        font-size: 30px;
        color: #131313;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    .product-list-cart {
        display: flex;
        gap: 20px;
        flex-direction: column;
        .product-item {
            padding: 20px 40px;
            background-color: #f6f6f6;
            border-radius: 3px;
            display: flex;
            width: 500px;
            gap: 20px;
            align-items: center;
            .img-cart {
                width: 20%;
                img {
                    width: 100%;
                }
            }
            .box-content {
                h5 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #131313;
                    line-height: 1.2;
                }
                span {
                    font-size: 16px;
                    color: #131313;
                    line-height: 2;
                }
            }
        }
    }
}