.footer {
    padding: 20px;
    text-align: center;
    background-color: #f6f6f6;
    color: #131313;
    font-size: 18px;
    img {
        width: 15px;
        height: 15px;
        margin: 0px 5px ;
    }
    span {
        font-weight: 600;
    }
}