<div class="product-item" *ngIf="product">
    <div class="product-details">
        <div class="box box-image">
            <img src="{{product.img}}" alt="">
        </div>
        <div class="box box-content">
            <h3 class="name">{{product.name}}</h3>
            <div class="box-infor">
                <div class="price">price: <span>{{product.price}} vnd</span></div>
                <div class="type">Type: <span>{{product.category}}</span></div>
            </div>
            <div class="range-star">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
            </div>
            <div class="desc">
                <div class="title">Description</div>
                <p>{{product.desc}}</p>
            </div>
            <button class="btn-add-cart" (click)="addToCart(product)">Buy now</button>
        </div>
    </div>
</div>
<div class="product-recommend">
    <app-home-products></app-home-products>
</div>
