<div class="product-item">
    <div class="product-details">
        <div class="box box-image">
            <img src="assets/ghe2.webp" alt="">
        </div>
        <div class="box box-content">
            <h3 class="name">Chair Gray Premium</h3>
            <div class="box-infor">
                <div class="price">price: <span>225000 vnd</span></div>
                <div class="type">Type: <span>House</span></div>
            </div>
            <div class="range-star">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
                <img src="assets/star-solid.svg" alt="">
            </div>
            <div class="desc">
                <div class="title">Description</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam natus deserunt dolore amet debitis, voluptates incidunt libero rem ad, possimus ullam odit id ut sequi adipisci facilis repellendus a laudantium.
                Rem animi tenetur, earum sit nesciunt expedita commodi, veritatis itaque eum dolore ratione quidem! Minus obcaecati eum dolorum esse harum quod minima cum quas et, molestiae a, aliquid porro facilis.</p>
            </div>
            <button class="btn-add-cart">Buy now</button>
        </div>
    </div>
</div>
<div class="product-recommend">
    <app-home-products></app-home-products>
</div>
