<div class="navbar">
    <a class="brand-logo" [routerLink]="['']">
        <img src="assets/fan-solid.svg" alt="" width="30px" height="30px">
        <span>Flower Shop</span>
    </a>
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-item" *ngFor="let item of navbarLeft" [routerLink]="item.path">
                <span>{{item.name}}</span>
            </a>
        </div>
        <div class="navbar-right">
            <a class="navbar-item" *ngFor="let item of navbarRight" [routerLink]="item.path">
                <img *ngIf="item.icon" src="{{item.icon}}" alt="{{item.name}}" />
                <span *ngIf="item.path === 'cart'" class="total-cart">{{count}}</span>
                <span>{{item.name}}</span>
            </a>
        </div>
    </div>
</div>
