<div class="catogery-section">
   <div class="left-container">
        <div class="catogery-item {{item.type}}" *ngFor="let item of categoryListLeft">
            <div class="box-content">
                <span class="type">#{{item.type}}</span>
                <h5 class="title">{{item.title}}</h5>
            </div>
            <div class="box-image">
                <img src="{{item.image}}" alt="">
            </div>
        </div>
   </div>
   <div class="right-container">
    <div class="catogery-item {{item.type}}" *ngFor="let item of cateroryListRight">
        <div class="box-content">
            <span class="type">#{{item.type}}</span>
            <h5 class="title">{{item.title}}</h5>
        </div>
        <div class="box-image">
            <img src="{{item.image}}" alt="">
        </div>
    </div>
   </div>
</div>
