@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
}
::ng-deep * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 110px;
    min-height: calc(100vh - 170px);
}
.btn-primary {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #e5853e;
}