<div class="experience-section">
    <div class="box-image">
        <img class="image" src="assets/home-exp.png" alt="">
        <div class="tag">
            <div class="title">Yellow Sofa 12</div>
            <button class="btn-add">Add to chart <img src="assets/arrow.svg" alt=""></button>
        </div>
    </div>
    <div class="box-content">
        <h3 class="heading">Experienced in making your home more modern and comfortable</h3>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam autem esse 
            rem velit unde perspiciatis pariatur nesciunt deserunt quidem?
        </p>
    </div>
</div>